<p id="notice"><%= notice %></p>

<h1>Medical Kits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Components</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_kits.each do |medical_kit| %>
      <tr>
        <td><%= medical_kit.name %></td>
        <td><%= medical_kit.components %></td>
        <td><%= link_to 'Show', medical_kit %></td>
        <td><%= link_to 'Edit', edit_medical_kit_path(medical_kit) %></td>
        <td><%= link_to 'Destroy', medical_kit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical Kit', new_medical_kit_path %>
